<a href="https://colab.research.google.com/github/KIM-CHAEYOUNG/PROJECT_COVID19_Delivery/blob/master/%5BSTUDY%7D%ED%99%95%EC%A7%84%EC%9E%90_%EC%A7%80%EC%97%AD%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코로나 관련 이동성 데이터 수집 및 분석
[참고사이트](https://dacon.io/competitions/official/235622/codeshare/1606?page=1&dtype=recent&ptype=pub) : [DACON] 국토교통 빅데이터 온라인 해커톤 경진대회

- 코로나 관련 이동성 데이터 수집 및 분석

# 라이브러리 및 데이터
### [COVID-19 데이터]

*   Patientinfo.csv
*   Case.csv

### [교통카드 데이터]

*   교통수단별 이용량 (DM_TFBY_USEV_SMY.csv)
*   평균통행시간 (DM_AVGTRFCTM_T.csv)

### [외부 데이터]


*   [subway.csv](https://data.seoul.go.kr/dataList/OA-12252/S/1/datasetView.do)
*   항목 추가
*   항목 추가

In [46]:
from datetime import datetime
from collections import Counter

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
from google.colab import drive

ROOT = "/content/drive"
print(ROOT)
drive.mount(ROOT)

/content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
from os.path import join  

MY_GOOGLE_DRIVE_PATH = 'My Drive/Colab Notebooks/COVID_19' # 프로젝트 경로
PROJECT_PATH = join(ROOT, MY_GOOGLE_DRIVE_PATH) # 프로젝트 경로
print(PROJECT_PATH)

/content/drive/My Drive/Colab Notebooks/COVID_19

In [28]:
%cd "{PROJECT_PATH}"

/content/drive/My Drive/Colab Notebooks/COVID_19

In [65]:
df_patient=pd.read_csv('PatientInfo.csv')
df_case=pd.read_csv('Case.csv')
df_region=pd.read_csv('Region.csv')

In [66]:
df_patient.head()

   Unnamed: 0    patient_id     sex  ... confirmed_dt patiend_id valid
0           0  1.000000e+09    male  ...   2020-01-23        NaN     1
1           1  1.000000e+09    male  ...   2020-01-30        NaN     1
2           2  1.000000e+09    male  ...   2020-01-30        NaN     1
3           3  1.000000e+09    male  ...   2020-01-30        NaN     1
4           4  1.000000e+09  female  ...   2020-01-31        NaN     1

[5 rows x 18 columns]

In [67]:
df_region.head()

    code province  ... elderly_alone_ratio  nursing_home_count
0  10000       서울  ...                 5.8               22739
1  10010       서울  ...                 4.3                3088
2  10020       서울  ...                 5.4                1023
3  10030       서울  ...                 8.5                 628
4  10040       서울  ...                 5.7                1080

[5 rows x 12 columns]

In [76]:
# 지역 데이터도 지역명 수정
def fix_region(row):
    fixdic = {
        ('경기도','구리'):('경기도','구리시'),
        ('경기도','수원'):('경기도','수원시'),
        ('경기도','양평시'):('경기도','양평'),
        ('대구','경산시'):('경상북도','경산시'),
        ('대구','달성군'):('대구','달성'),
        ('대구','상곡 동'):('대구','대구'),
        ('대구','영천시'):('경상북도','영천시'),
        ('대구','이천동'):('대구','남구'),
        ('대전','세종'):('세종','세종'),
        ('전라남도','경산시'):('경상북도','경산시'),
        ('경상남도','하만'):('경상남도','함안군'),
        ('서울','동구 구'):('서울','동작구'),
        ('인천','미추홀 구'):('인천','미추홀구'),
        ('전라북도','지난'):('전라북도','진안군'),
        ('전라남도','시난'):('전라남도','신안군')
    }
    if (row.province, row.city) in fixdic.keys():
        row.province, row.city = fixdic[(row.province, row.city)]
    if (row.province == row.city) or (row.city == '기타'):
        #print((row.province,row.city))
        row.city = np.nan
    return row
df_region=df_region.apply(fix_region, axis=1)

In [77]:
df_region['id']=df_region.apply(lambda x: (x['province'], x['city']), axis=1)
# id라는 컬럼에 'province'와 'city'의 컬럼내용을 넣음
# '서울' '강남구' -> (서울, 강남구)

In [78]:
df_region.head()

    code province city  ...  elderly_alone_ratio  nursing_home_count         id
0  10000       서울  NaN  ...                  5.8               22739  (서울, nan)
1  10010       서울  강남구  ...                  4.3                3088  (서울, 강남구)
2  10020       서울  강동구  ...                  5.4                1023  (서울, 강동구)
3  10030       서울  강북구  ...                  8.5                 628  (서울, 강북구)
4  10040       서울  강서구  ...                  5.7                1080  (서울, 강서구)

[5 rows x 13 columns]

In [71]:
# 위치 추출
coords = df_region[['id', 'longitude', 'latitude']]

In [72]:
coords.head()

          id   longitude   latitude
0  (서울, nan)  126.977977  37.566953
1  (서울, 강남구)  127.047222  37.518421
2  (서울, 강동구)  127.123837  37.530492
3  (서울, 강북구)  127.025508  37.639938
4  (서울, 강서구)  126.849506  37.551166

In [73]:
coords.shape

(244, 3)

In [74]:
pos ={('해외', np.nan):(123,37)}

In [80]:
for i, row in coords.iterrows():
    pos[row['id']]= (row['longitude'], row['latitude'])

In [84]:
pos

{('강원도', '강릉시'): (128.87592800000002, 37.75197),
 ('강원도', '고성'): (128.467827, 38.380571),
 ('강원도', '동해시'): (129.114239, 37.524689),
 ('강원도', '삼척시'): (129.16536499999998, 37.449899),
 ('강원도', '속초'): (128.59186100000002, 38.207022),
 ('강원도', '양구'): (127.990092, 38.110002),
 ('강원도', '양양'): (128.619125, 38.075405),
 ('강원도', '영월'): (128.461835, 37.183694),
 ('강원도', '원주시'): (127.919668, 37.341963),
 ('강원도', '인제'): (128.17033500000002, 38.069682),
 ('강원도', '정선군'): (128.660873, 37.38062),
 ('강원도', '철원'): (127.3134, 38.146693),
 ('강원도', '춘천시'): (127.730088, 37.881281),
 ('강원도', '태백시'): (128.985736, 37.16406),
 ('강원도', '평창'): (128.39033500000002, 37.370743),
 ('강원도', '홍천'): (127.888821, 37.697037),
 ('강원도', '화천'): (127.70816299999998, 38.106152),
 ('강원도', '횡성'): (127.985042, 37.491702),
 ('강원도', nan): (127.729868, 37.885369),
 ('경기도', '가평'): (127.509555, 37.831297),
 ('경기도', '고양시'): (126.831961, 37.658363),
 ('경기도', '과천시'): (126.987616, 37.42915),
 ('경기도', '광명시'): (126.864648, 37.478541),
 ('경기도', '광주'): (127.255153, 37.429322),
 ('경기도', '구리시'): (127.129549, 37.594267),
 ('경기도', '군포시'): (126.935206, 37.361653),
 ('경기도', '김포시'): (126.715601, 37.615238),
 ('경기도', '남양주시'): (127.216552, 37.635791),
 ('경기도', '동두천시'): (127.060347, 37.903568),
 ('경기도', '부천시'): (126.766049, 37.503393),
 ('경기도', '성남시'): (127.126703, 37.42),
 ('경기도', '수원시'): (127.028613, 37.263376),
 ('경기도', '시흥시'): (126.803009, 37.38011),
 ('경기도', '안산시'): (126.83092, 37.321863),
 ('경기도', '안성시'): (127.279763, 37.008008),
 ('경기도', '안양시'): (126.956752, 37.394258),
 ('경기도', '양주시'): (127.045823, 37.785253),
 ('경기도', '양평'): (127.48757, 37.491744),
 ('경기도', '여주시'): (127.637351, 37.298209),
 ('경기도', '연천'): (127.075067, 38.096409),
 ('경기도', '오산시'): (127.077461, 37.149854),
 ('경기도', '용인시'): (127.17805, 37.240985),
 ('경기도', '의왕시'): (126.968299, 37.344649),
 ('경기도', '의정부시'): (127.033716, 37.738058),
 ('경기도', '이천시'): (127.434991, 37.272169),
 ('경기도', '파주시'): (126.7799, 37.759818),
 ('경기도', '평택시'): (127.112709, 36.992293),
 ('경기도', '포천시'): (127.200346, 37.894881),
 ('경기도', '하남시'): (127.214944, 37.53926),
 ('경기도', '화성시'): (126.83133, 37.199536),
 ('경기도', nan): (127.009466, 37.275119),
 ('경상남도', '거제'): (128.621216, 34.880519),
 ('경상남도', '거창'): (127.910021, 35.686526),
 ('경상남도', '고성'): (128.322246, 34.972986),
 ('경상남도', '김해시'): (128.889352, 35.228678),
 ('경상남도', '남해'): (127.892595, 34.837688),
 ('경상남도', '밀양시'): (128.746604, 35.503827),
 ('경상남도', '사천시'): (128.064272, 35.003668),
 ('경상남도', '산청'): (127.87349, 35.415544),
 ('경상남도', '양산'): (129.037057, 35.335016),
 ('경상남도', '의령'): (128.26174, 35.322198),
 ('경상남도', '진주시'): (128.10875, 35.180313),
 ('경상남도', '창녕'): (128.49233, 35.544603),
 ('경상남도', '창원시'): (128.681815, 35.227992),
 ('경상남도', '통영시'): (128.43321, 34.854426000000004),
 ('경상남도', '하동'): (127.751271, 35.067224),
 ('경상남도', '함안군'): (128.40653999999998, 35.272481),
 ('경상남도', '함양'): (127.725177, 35.52054099999999),
 ('경상남도', '합천'): (128.16586999999998, 35.566702),
 ('경상남도', nan): (128.692397, 35.238294),
 ('경상북도', '경산시'): (128.741544, 35.825056),
 ('경상북도', '경주시'): (129.224796, 35.856185),
 ('경상북도', '고령'): (128.26295, 35.72615),
 ('경상북도', '구미시'): (128.344295, 36.119641),
 ('경상북도', '군위'): (128.572939, 36.242926),
 ('경상북도', '김천시'): (128.11365, 36.139875),
 ('경상북도', '문경시'): (128.18708999999998, 36.586831),
 ('경상북도', '봉화'): (128.732568, 36.893099),
 ('경상북도', '상주시'): (128.159024, 36.410977),
 ('경상북도', '성주'): (128.283237, 35.919325),
 ('경상북도', '안동시'): (128.729551, 36.568441),
 ('경상북도', '영덕'): (129.366107, 36.415059),
 ('경상북도', '영양'): (129.112401, 36.666664),
 ('경상북도', '영주시'): (128.62395800000002, 36.805702),
 ('경상북도', '영천시'): (128.938603, 35.973268),
 ('경상북도', '예천'): (128.43743500000002, 36.646707),
 ('경상북도', '울릉'): (130.90588300000002, 37.484438),
 ('경상북도', '울진'): (129.400585, 36.993078),
 ('경상북도', '의성'): (128.69708799999998, 36.352718),
 ('경상북도', '청도'): (128.734382, 35.647361),
 ('경상북도', '청송'): (129.05708, 36.436301),
 ('경상북도', '칠곡'): (128.401735, 35.995529),
 ('경상북도', '포항시'): (129.343645, 36.019052),
 ('경상북도', nan): (128.505599, 36.576032),
 ('광주', '광산구'): (126.7937, 35.139941),
 ('광주', '남구'): (126.902379, 35.132982),
 ('광주', '동구'): (126.923133, 35.14626),
 ('광주', '북구'): (126.912061, 35.174434000000005),
 ('광주', '서구'): (126.889614, 35.152516),
 ('광주', nan): (126.851392, 35.160467),
 ('대구', '남구'): (128.597723, 35.8463),
 ('대구', '달서구'): (128.532635, 35.830128),
 ('대구', '달성'): (128.431314, 35.77475),
 ('대구', '동구'): (128.635537, 35.88683599999999),
 ('대구', '북구'): (128.583779, 35.892506),
 ('대구', '서구'): (128.559182, 35.871993),
 ('대구', '수성구'): (128.630551, 35.858395),
 ('대구', '중구'): (128.606184, 35.869551),
 ('대구', nan): (128.601783, 35.87215),
 ('대전', '대덕구'): (127.415597, 36.346713),
 ('대전', '동구'): (127.454742, 36.31204),
 ('대전', '서구'): (127.383755, 36.35553),
 ('대전', '유성구'): (127.356153, 36.362226),
 ('대전', '중구'): (127.421317, 36.325735),
 ('대전', nan): (127.384744, 36.350621),
 ('대한민국', nan): (126.977977, 37.56695300000001),
 ('부산', '강서구'): (128.98068, 35.212424),
 ('부산', '금정구'): (129.092163, 35.243053),
 ('부산', '기장'): (129.222253, 35.244881),
 ('부산', '남구'): (129.08414, 35.136789),
 ('부산', '동구'): (129.04554, 35.129432),
 ('부산', '동래구'): (129.083673, 35.20506),
 ('부산', '부산진구'): (129.05305800000002, 35.163332000000004),
 ('부산', '북구'): (128.990224, 35.197483),
 ('부산', '사상구'): (128.991142, 35.152777),
 ('부산', '사하구'): (128.97479199999998, 35.104642),
 ('부산', '서구'): (129.024193, 35.098135),
 ('부산', '수영구'): (129.113194, 35.145805),
 ('부산', '연제구'): (129.079566, 35.176406),
 ('부산', '영도구'): (129.06788400000002, 35.091362),
 ('부산', '중구'): (129.03225600000002, 35.106321),
 ('부산', '해운대구'): (129.163594, 35.16336),
 ('부산', nan): (129.074796, 35.179884),
 ('서울', '강남구'): (127.047222, 37.518421),
 ('서울', '강동구'): (127.123837, 37.530492),
 ('서울', '강북구'): (127.025508, 37.639938),
 ('서울', '강서구'): (126.849506, 37.551166),
 ('서울', '관악구'): (126.951502, 37.47829),
 ('서울', '광진구'): (127.082366, 37.538712),
 ('서울', '구로구'): (126.88765, 37.495632),
 ('서울', '금천구'): (126.895229, 37.45685200000001),
 ('서울', '노원구'): (127.056294, 37.654259),
 ('서울', '도봉구'): (127.047082, 37.668952),
 ('서울', '동대문구'): (127.039721, 37.574552),
 ('서울', '동작구'): (126.963604, 37.510571),
 ('서울', '마포구'): (126.901644, 37.566283),
 ('서울', '서대문구'): (126.936771, 37.579428),
 ('서울', '서초구'): (127.032693, 37.483804),
 ('서울', '성동구'): (127.036647, 37.563277),
 ('서울', '성북구'): (127.0167, 37.589562),
 ('서울', '송파구'): (127.106141, 37.51462),
 ('서울', '양천구'): (126.866618, 37.517189),
 ('서울', '영등포구'): (126.89619, 37.526505),
 ('서울', '용산구'): (126.990021, 37.532768),
 ('서울', '은평구'): (126.929173, 37.603481),
 ('서울', '종로구'): (126.979189, 37.572999),
 ('서울', '중구'): (126.99753, 37.563988),
 ('서울', '중랑구'): (127.092656, 37.606832),
 ('서울', nan): (126.977977, 37.56695300000001),
 ('세종', nan): (127.289021, 36.480132),
 ('울산', '남구'): (129.330047, 35.543833),
 ('울산', '동구'): (129.416575, 35.504806),
 ('울산', '북구'): (129.36123999999998, 35.582685),
 ('울산', '울주'): (129.24250700000002, 35.522126),
 ('울산', '중구'): (129.332773, 35.569468),
 ('울산', nan): (129.31153799999998, 35.539797),
 ('인천', '강화군'): (126.487777, 37.747065),
 ('인천', '계양구'): (126.73771200000002, 37.537537),
 ('인천', '남동구'): (126.731429, 37.44727),
 ('인천', '동구'): (126.643266, 37.474101),
 ('인천', '미추홀구'): (126.65027, 37.463572),
 ('인천', '부평구'): (126.721804, 37.507031),
 ('인천', '서구'): (126.675994, 37.545557),
 ('인천', '연수구'): (126.678309, 37.410262),
 ('인천', '옹진'): (126.636747, 37.446777),
 ('인천', '중구'): (126.621693, 37.473761),
 ('인천', nan): (126.70592, 37.456188),
 ('전라남도', '강진'): (126.767267, 34.642006),
 ('전라남도', '고흥'): (127.285055, 34.61117),
 ('전라남도', '곡성'): (127.292107, 35.282015),
 ('전라남도', '광양시'): (127.696142, 34.940611),
 ('전라남도', '구례'): (127.462789, 35.20252100000001),
 ('전라남도', '나주'): (126.710826, 35.015818),
 ('전라남도', '담양'): (126.988229, 35.321144),
 ('전라남도', '목포시'): (126.392198, 34.811809000000004),
 ('전라남도', '무안'): (126.481653, 34.990368),
 ('전라남도', '보성'): (127.080097, 34.771453),
 ('전라남도', '순천시'): (127.487396, 34.950592),
 ('전라남도', '신안군'): (126.351636, 34.833564),
 ('전라남도', '여수시'): (127.662287, 34.760421),
 ('전라남도', '영광'): (126.512087, 35.277188),
 ('전라남도', '영암'): (126.696802, 34.800192),
 ('전라남도', '완도'): (126.755076, 34.310983),
 ('전라남도', '장성'): (126.784893, 35.301826),
 ('전라남도', '장흥'): (126.90708, 34.681616),
 ('전라남도', '진도'): (126.263554, 34.486834),
 ('전라남도', '함평'): (126.516688, 35.065927),
 ('전라남도', '해남'): (126.59925, 34.573374),
 ('전라남도', '화순'): (126.986643, 35.064456),
 ('전라남도', nan): (126.463021, 34.816095000000004),
 ('전라북도', '고창'): (126.702152, 35.435767),
 ('전라북도', '군산시'): (126.737011, 35.967631),
 ('전라북도', '김제시'): (126.880507, 35.803506),
 ('전라북도', '남원시'): (127.390265, 35.416349),
 ('전라북도', '무주'): (127.660789, 36.006777),
 ('전라북도', '부안'): (126.733347, 35.731805),
 ('전라북도', '순창'): (127.137597, 35.37442100000001),
 ('전라북도', '완주'): (127.162209, 35.904724),
 ('전라북도', '익산시'): (126.957792, 35.948229),
 ('전라북도', '임실'): (127.288868, 35.617891),
 ('전라북도', '장수'): (127.521204, 35.647281),
 ('전라북도', '전주시'): (127.14805, 35.824069),
 ('전라북도', '정읍시'): (126.856148, 35.569768),
 ('전라북도', '진안군'): (127.424806, 35.791669),
 ('전라북도', nan): (127.108791, 35.82030800000001),
 ('제주도', nan): (126.500423, 33.488935999999995),
 ('충청남도', '계룡시'): (127.248557, 36.274481),
 ('충청남도', '공주시'): (127.11903, 36.446508),
 ('충청남도', '금산'): (127.487966, 36.108887),
 ('충청남도', '논산시'): (127.098959, 36.187076),
 ('충청남도', '당진시'): (126.645814, 36.889777),
 ('충청남도', '보령시'): (126.612679, 36.333317),
 ('충청남도', '부여군'): (126.90979, 36.275673),
 ('충청남도', '서산시'): (126.45028899999998, 36.784751),
 ('충청남도', '서천'): (126.691394, 36.080266),
 ('충청남도', '아산시'): (127.00242, 36.789844),
 ('충청남도', '예산'): (126.844687, 36.680222),
 ('충청남도', '천안시'): (127.113868, 36.81498),
 ('충청남도', '청양'): (126.802333, 36.459129),
 ('충청남도', '태안'): (126.29795, 36.745577),
 ('충청남도', '홍성'): (126.660772, 36.60126),
 ('충청남도', nan): (126.673318, 36.658976),
 ('충청북도', '괴산'): (127.786651, 36.81534),
 ('충청북도', '단양'): (128.365476, 36.984657),
 ('충청북도', '보은'): (127.729503, 36.489402),
 ('충청북도', '영동'): (127.783431, 36.175017),
 ('충청북도', '옥천'): (127.57128, 36.306367),
 ('충청북도', '음성군'): (127.690502, 36.940237),
 ('충청북도', '제천시'): (128.190946, 37.132583),
 ('충청북도', '증평'): (127.581481, 36.785301),
 ('충청북도', '진천'): (127.435635, 36.855374),
 ('충청북도', '청주시'): (127.488759, 36.641876),
 ('충청북도', '충주시'): (127.925946, 36.99100900000001),
 ('충청북도', nan): (127.491384, 36.63568),
 ('해외', nan): (123, 37)}